<div class="container">
  <header><img src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2F3.bp.blogspot.com%2F-Vgl5MfM-9uk%2FU4RwLFU51zI%2FAAAAAAAAAGY%2FYLKQ1Hst0cE%2Fs1600%2Fnavaratna-1024x1015.png&f=1&nofb=1" height="350" weidth="350" class="img-responsive main-image"></header>
  <div class="col-md-8 col-md-offset-2">
    <h2>Woops!</h2>

    <div class="content">

    <h3>You don't appear to be signed in.</h3>
    <br>
    <h3>Click <a href="/">here</a> to go back</h3>
    <br>
  </div>
</div>