<div class="container">
  <header><img src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2F3.bp.blogspot.com%2F-Vgl5MfM-9uk%2FU4RwLFU51zI%2FAAAAAAAAAGY%2FYLKQ1Hst0cE%2Fs1600%2Fnavaratna-1024x1015.png&f=1&nofb=1" height="250" weidth="250" class="img-responsive main-image"></header>
  <div class="col-md-8 col-md-offset-2">
    <h2>Welcome to Jewel Tracker</h2>
    <div class="content">
      <br>
      <form method="POST" action="/login">
        <label for="username">Username: </label>
        <input type="text" name="username" id="username" required pattern="^[A-Za-z-0-9()]{3,12}$"
        oninvalid="this.setCustomValidity('Invalid username.')"
        oninput="setCustomValidity('')"><br />
        <label for="password">Password: </label>
        <input type="password" name="password" id="password" required pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{6,}$"
        oninvalid="this.setCustomValidity('Invalid password.')"
        oninput="setCustomValidity('')"><br />
        <br>
        <input type="submit" value="Log In">
      </form>
      <br>
      <p>Don't have an account? Sign up <a href="/signup">here</a></p>
    </div>
  </div>
</div>
